*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#hero{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
.navigation{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
}
.fs-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.bars{
    display: none;
}
.fs-logo{
    display: block;
}
.logo-text{
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
}
.fs-nav-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.fs-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.menu-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 33px;
    color: black;
}
a{
    text-decoration: none;
}
.fs-bttn{
    width: 134px;
    height: 62px;
    background-color: black;
    padding: 13px 22px 17px;
    border-radius: 7px;
}
.fs-link{
    font-weight: 500;
    font-size: 23px;
    line-height: 36px;
    color: white;
}
.main-contain{
    background-color: #F4F6F5;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-bottom: 0px;
    gap: 20px;
    height: 800px;
}
.contain-text{
    height: 750px;
}
.contain-title{
    font-style: normal;
    font-weight: 900;
    font-size: 90px;
    line-height: 120px;
    margin-bottom: 20px;
    width: 500px;
}
.contain-span{
    background-color: #EBD96B;
    padding: 0px 10px;
    transform: rotate(-2deg);
}
.span-text{
    transform: rotate(0deg);
}
.contain-para{
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 40px;
}
.contain-vector-bttn{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}
.contain-img{
    width: 600px;
    height: 768px;
}
.contain-bttn{
    width: 221px;
    height: 82px;
    background-color: black;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}
.contain-link{
    color: white;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
}
#companies{
    background-color: #EBD96B;
    height: 186px;
    padding-top: 60px;
    margin-bottom: 100px;
}
.companies{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#latest{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
.latest-title{
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 50px;
}
.latest-flex-box{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.latest-img{
    width: 380px;
    margin-bottom: 15px;
}
.latest-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-title{
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
}
.flex-descp{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #7F7F7F;
}
#sales{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    background: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E4C542 12.99%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 23.97%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
}
.sales{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sale-img{
    width: 750px;
    height: 700px;
}
.sale-text{
    width: 600px;
    padding-left: 50PX;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.sale-title{
    font-weight: 900;
    font-size: 90px;
    line-height: 120px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.sale-para{
    font-weight: 500;
    font-size: 28px;
    line-height: 52px;
    margin-bottom: 20px;
}
.sale-detail{
    margin-bottom: 20px;
}
.sale-date{
    font-weight: 700;
    font-size: 31px;
    line-height: 52px;
}
.terms{
    font-weight: 400;
    font-size: 30px;
    line-height: 52px;
}
.sale-bttn{
    width: 266px;
    height: 95px;
    background-color: black;
    padding: 27px;
    border-radius: 10px;
    text-align: center;
}
.sale-link{
    color: white;
    font-weight: 600;
    font-size: 27.9021px;
    line-height: 42px;
}
#fav{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
}
.fav-title{
    font-weight: 900;
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 70px;
}
.fav-flex-box{
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fav-img{
    width: 600px;
    margin-bottom: 15px;
}
.fav-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fav-flex-title{
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
}
.fav-flex-descp{
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #7F7F7F;
}
#application{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.application{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-text{
    width: 500px;
}
.app-title{
    font-weight: 900;
    font-size: 48px;
    line-height: 150%;
    margin-bottom: 40px;
}
.app-para{
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #7C7C7C;
    margin-bottom: 40px;
}
.app-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}
#communities{
    width: 100%;
    background-color: #E5C643;
    padding:  70px 0px;
}
.communities{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.community-text{
    color: white;
}
.community-title{
    font-weight: 900;
    font-size: 55px;
    line-height: 70px;
    margin-bottom: 30px;
}
.community-para{
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 30px;
}
.community-bttn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
#mail{
    width: 574px;
    height: 87px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}
.mail-bttn{
    width: 161px;
    height: 67px;
    background-color: black;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
.mail-link{
    color: white;
    font-weight: 500;
    font-size: 33px;
    line-height: 35px;
}
#footer{
    width: 100%;
    background-color: black;
    padding: 70px 50px;
    padding-top: 100px;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.nav-title{
    color: white;
    margin-bottom: 10px;
}
.nav-title-1{
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
}
.nav-title-2{
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}
.nav-para{
    color: white;
    margin-bottom: 30px;
}
.bottom-nav-1{
    width: 315px;
}
.bottom-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.bottom-link{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #8E8E8E;
}

@media screen and (max-width: 499px){
    #hero{
        width: 100%;
    }
    .navigation{
        width: 100%;
        padding: 0px 20px;
    }
    .bars{
        display: block;
    }
    .bar{
        color: black;
    }
    .fs-logo{
        display: none;
    }
    .logo-text{
        font-size: 30px;
    }
    .fs-menu{
        display: none;
    }
    .fs-bttn{
        width: 100%;
        padding: 2px 10px;
        height: 40px;
    }
    .fs-link{
        font-size: 17px;
    }
    #main-contain{
        padding: 0px;
    }
    .main-contain{
        width: 100%;
        height: 100%;
        flex-direction: column;
        border-radius: 0px;
        align-items: flex-start;
        gap: 75px;
    }
    .contain{
        width: 100%;
    }
    .contain-title{
        width: 100%;
        font-size: 50px;
        line-height: 60px;
    }
    .contain-span{
        width: 100%;
    }
    .contain-text{
        height: 100%;
    }
    .contain-para{
        font-size: 25px ;
    }
    .contain-vector-bttn{
        gap: 30px;
        justify-content: center;
    }
    .contain-img{
        width: 100%;
        height: 100%;
    }
    .contain-bttn{
        padding: 5px 15px;
    }
    .contain-link{
        font-size: 20px;
    }
    #companies{
        height: 100%;
        padding: 20px;
    }
    .companies{
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }
    #latest{
        width: 100%;
        padding: 0px 20px;
        margin-bottom: 100px;
    }
    .latest-flex-box{
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }
    .latest-flex{
        border-bottom: 2px solid gray;
        padding-bottom: 20px;
    }
    .latest-img{
        width: 100%;
    }
    #sales{
        padding: 0px 20px;
        padding-bottom: 20px;
        margin-bottom: 100px;
        background: linear-gradient(299deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E4C542 12.99%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 23.97%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
    }
    .sales{
        flex-direction: column;
    }
    .sale-img{
        width: 100%;
        height: 100%;
    }
    .sale-text{
        width: 100%;
        padding-left: 0px;
    }
    .sale-title{
        font-size: 40px;
        line-height: 60px;
        text-align: center;
    }
    .sale-bttn{
        width: 100%;
        height: 70px;
        padding: 15px;
    }
    .terms{
        font-size: 23px;
    }
    #fav{
        width: 100%;
        padding: 20px;
    }
    .fav-flex-box{
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }
    .fav-img{
        width: 100%;
    }
    .fav-flex-title{
        font-size: 20px;
    }
    .fav-flex{
        border-bottom: 2px solid gray;
        padding-bottom: 20px;
    }
    #application{
        width: 100%;
        padding: 0px 20px;
    }
    .application{
        flex-direction: column;
        gap: 30px;
    }
    .app-text{
        width: 100%;
    }
    .app-title{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .app-buttons{
        flex-wrap: wrap;
    }
    .mobile-img{
        width: 100%;
    }
    #communities{
        padding: 20px 20px;
    }
    .communities{
        width: 100%;
    }
    .community-title{
        font-size: 35px;
        line-height: 
        50px;
    }
    #mail{
        width: 100%;
        height: 47px;
    }
    .mail-bttn{
        width: 100%;
    }
    .mail-link{
        letter-spacing: 5px;
    }
    .footer-nav{
        gap: 30px;
    }
    .bottom-nav-1{
        width: 100%;
        border-bottom: 2px solid #E5C643;
        padding-bottom: 20px;
    }
    .bottom-nav-2{
        width: 100%;
        border-bottom: 2px solid  #8E8E8E;
        padding-bottom: 20px;
    }
    .bottom-nav-3{
        width: 100%;
        border-bottom: 2px solid  #8E8E8E;
        padding-bottom: 20px;
    }
    .bottom-nav-4{
        width: 100%;
        border-bottom: 2px solid  #8E8E8E;
        padding-bottom: 20px;
    }
}
